---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import StatsSection from '../components/StatsSection.astro';
import DetailedRagaListings from '../components/DetailedRagaListings.astro';
import DatasetDetailsSection from '../components/DatasetDetailsSection.astro';
import RagamalikaSection from '../components/RagamalikaSection.astro';
import ArchitectureSection from '../components/ArchitectureSection.astro';
import DataMappingSection from '../components/DataMappingSection.astro';
import CrossTraditionSection from '../components/CrossTraditionSection.astro';
import CrossTraditionMappingFramework from '../components/CrossTraditionMappingFramework.astro';
import FuturePlansSection from '../components/FuturePlansSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="RagaSense-Data | Unified Indian Classical Music Dataset">
  <Header />
  <main>
    <Hero />
    <StatsSection />
    <DetailedRagaListings />
    <DatasetDetailsSection />
    <RagamalikaSection />
    <ArchitectureSection />
    <DataMappingSection />
    <CrossTraditionSection />
    <CrossTraditionMappingFramework />
    <FuturePlansSection />
  </main>
  <Footer />
</Layout>
